<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.settings.SettingsGoogleSyntheticOverlay">

    <overlay
        android:targetPackage="com.android.settings"
        android:priority="0"
        android:isStatic="true" />
    <application android:hasCode="false"/>
</manifest>
